body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.4em
    }

body {
    background: #f8f8f8
    }

input, textarea,p {
    word-wrap: break-word;
    }
    
    #textAr{
        height: 75%;
    }

    .buttons{
        margin-top: 20px;
    }

    hr{
        margin: 0;
    }
    
    .conditions{
        font-size: 0.8em;
    }
    
    #delete-alert{
        float:left; 
        margin:0 7px 20px 0;
    }