body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.4em
    }

body {
    margin-top: 20px;
    background: #f8f8f8
    }

input, textarea,p {
    word-wrap: break-word;
    }
    
    #textAr{
        height: 80%;
    }

    .buttons{
        margin-top: 20px;
    }